%h3 קישורים קשורים

.small-box
  %b אתרים תנועתיים
  %ul
    %li= link_to "אתר התנועה", "http://noal.org.il"
    %li= link_to "האיגוד המקצועי", "http://minimum.org.il"
    %li= link_to "דרור ישראל", "http://www.drorisrael.org.il"
    %li= link_to "הכספומטר", "http://caspometer.minimum.org.il/"
    %li= link_to "הועד למאבק ברצח עם", "http://www.cga.org.il/"
    %li= link_to "המעורר", "http://המעורר.org.il"


.small-box
  %b טיולים
  %ul
    %li= link_to "בלוג מדריך טיולים", "http://madrichtiulim.blogspot.com/"
    %li= link_to "מוקד טבע", "http://192.117.141.2/MokedTeva/website/mokedteva.new/"

.small-box
  %b טקסטים ותוכן
  %ul     
    %li= link_to "פרוייקט בן-יהודה", "http://www.benyehuda.org/"
    %li= link_to "שיטים - מכרן החגים", "http://www.chagim.org.il/"
    %li= link_to "עיתונות יהודית היסטורית", "http://www.jpress.org.il/view-hebrew.asp"
    %li= link_to "ויקיפדיה", "http://he.wikipedia.org"
    %li= link_to "גוגל ספרים", "http://books.google.com/books?hl=iw"

.small-box
  %b כלים תנועתיים
  %ul     
    %li= link_to "גשש בלש", "http://144.noal.org.il/"
    %li= link_to "גשש משחקים", "http://games.noal.org.il/"
    %li= link_to "הגששובוס", "http://2800.noal.org.il/"
