<div style="text-align: center;">
<h2><%=t :login %></h2>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <p><%=t :email_address %> <br />
  <%= f.text_field :email %></p>

  <p><%=t :password %><br />
  <%= f.password_field :password %></p>

  <% if devise_mapping.rememberable? -%>
    <p><%= f.check_box :remember_me %> <%=t :remember_me %></p>
  <% end -%>

  <p><%= f.submit t "log_me_in" %></p>
<% end %>

<%= render :partial => "devise/shared/links" %>
</div>
