#form-help-me
  עזור לי במילוי הטופס!

= form_for @text, :html => {:id => "text-form"} do |f|
  - if @text.errors.any?
    #error_explanation
      %h2
        = pluralize(@text.errors.count, "error")
        prohibited this text from being saved:
      %ul
        - @text.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :name
    %br/
    = f.text_field :name
  #description-field.field
    = f.label :description
    %br/
    = f.text_area :description
    %br/
  #tags-field.field
    = f.label :tags
    = f.text_field :tag_list
  .small-field
    = f.label :year
    = f.text_field :year_list
  .small-field
    = f.label :author
    = f.text_field :author_list
  .small-field
    = f.label :source
    = f.text_field :source_list
  .small-field
    = f.label :kind
    = f.text_field :kind_list
  .small-field
    = f.label :age
    = f.text_field :age_list
  .actions
    = f.submit :id => "edit_form_submit", :value => "שמור את הפריט הזה"

- content_for :special_js do
  :javascript
    $(document).ready(function() {
      $('#form-help-me').click(function(){
        Shadowbox.open({
        content:    '<div dir="rtl" style="height: 100%; overflow: hidden; text-align: right; background: white;"><div style="margin-right: 1em;"><h2>הי, אין מה להבהל!</h2><p>את הטופס ממלאים ב-3 צעדים פשוטים. <ol><li>ממלאים את השדות כמו בדוגמה</li><li>לוחצים על כפתור השמירה</li><li>מוסיפים את הקבצים במסך הבא!</li></ol></p></div><img src="/imgs/example-form.png" /></div>',
        player:     "html",
        title:      "עזרה במילוי הטופס",
        height:     600,
        width:      635
    });  
      });

      var t = new $.TextboxList('#text_tag_list', {unique: true, plugins: {autocomplete: {
      minLength: 1,
      queryRemote: true,
      remote: {url: '/tags_json?c=tag'}
      }}});

      var t1 = new $.TextboxList('#text_source_list', {unique: true, plugins: {autocomplete: {
      minLength: 1,
      queryRemote: true,
      remote: {url: '/tags_json?c=source'}
      }}});

      var t2 = new $.TextboxList('#text_kind_list', {unique: true, plugins: {autocomplete: {
      minLength: 1,
      queryRemote: true,
      remote: {url: '/tags_json?c=kind'}
      }}});

      var t3 = new $.TextboxList('#text_age_list', {unique: true, plugins: {autocomplete: {
      minLength: 1,
      queryRemote: true,
      remote: {url: '/tags_json?c=age'}
      }}});

      var t4 = new $.TextboxList('#text_author_list', {unique: true, plugins: {autocomplete: {
      minLength: 1,
      queryRemote: true,
      remote: {url: '/tags_json?c=author'}
      }}});

      var t5 = new $.TextboxList('#text_year_list', {unique: true, plugins: {autocomplete: {
      minLength: 1,
      queryRemote: true,
      remote: {url: '/tags_json?c=year'}
      }}});

      var t5 = new $.TextboxList('#text_maagal_list', {unique: true, plugins: {autocomplete: {
      minLength: 1,
      queryRemote: true,
      remote: {url: '/tags_json?c=maagal'}
      }}});

    });
