%script{:type => "text/javascript",
        :src  => "/javascripts/textlist/GrowingInput.js"}
%script{:type => "text/javascript",
        :src  => "/javascripts/textlist/TextboxList.js"}
%script{:type => "text/javascript",
        :src  => "/javascripts/textlist/TextboxList.Autocomplete.js"}
:javascript
  $(document).ready(function() {

    var t = new $.TextboxList('#text_tag_list', {unique: true, plugins: {autocomplete: {
    minLength: 1,
    queryRemote: true,
    remote: {url: '/tags_json?c=tag'}
    }}});

    var t1 = new $.TextboxList('#text_source_list', {unique: true, plugins: {autocomplete: {
    minLength: 1,
    queryRemote: true,
    remote: {url: '/tags_json?c=source'}
    }}});

    var t2 = new $.TextboxList('#text_kind_list', {unique: true, plugins: {autocomplete: {
    minLength: 1,
    queryRemote: true,
    remote: {url: '/tags_json?c=kind'}
    }}});

    var t3 = new $.TextboxList('#text_age_list', {unique: true, plugins: {autocomplete: {
    minLength: 1,
    queryRemote: true,
    remote: {url: '/tags_json?c=age'}
    }}});

    var t4 = new $.TextboxList('#text_author_list', {unique: true, plugins: {autocomplete: {
    minLength: 1,
    queryRemote: true,
    remote: {url: '/tags_json?c=author'}
    }}});

    var t5 = new $.TextboxList('#text_year_list', {unique: true, plugins: {autocomplete: {
    minLength: 1,
    queryRemote: true,
    remote: {url: '/tags_json?c=year'}
    }}});

    var t5 = new $.TextboxList('#text_maagal_list', {unique: true, plugins: {autocomplete: {
    minLength: 1,
    queryRemote: true,
    remote: {url: '/tags_json?c=maagal'}
    }}});

  });


= form_for(@text) do |f|
  - if @text.errors.any?
    #error_explanation
      %h2
        = pluralize(@text.errors.count, "error")
        prohibited this text from being saved:
      %ul
        - @text.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :name
    %br/
    = f.text_field :name
  .field
    = f.label :user_id
    %br/
    = f.text_field :user_id
  .field
    = f.label :content
    %br/
    = f.text_area :content
    %br/
    = f.label :tags
    = f.text_field :tag_list
    %br/
    = f.label :year
    = f.text_field :year_list
    %br/
    = f.label :author
    = f.text_field :author_list
    %br/
    = f.label :source
    = f.text_field :source_list
    %br/
    = f.label :kind
    = f.text_field :kind_list
    %br/
    = f.label :age
    = f.text_field :age_list
    %br/
    = f.label :maagal
    = f.text_field :maagal_list
  .actions
    = f.submit
