.span-6
  #kinds-box.home-box
    %h2 סוגים
    .tags-box
      - tag_cloud(@kinds, %w(css1 css2 css3 css4 css5)) do |tag, css_class| 
        = link_to tag.name, '/tags/'+tag.name, {'class' => css_class}
  #latest-box.home-box
    %h2 חדש באתר
    %ul
      - @texts.each do |text|
        %li= link_to text.name, text, :rel => "#{text.id}"

.span-12.last
  #tags-box.home-box
    %h2 תגיות
    .tags-box
      - tag_cloud(@tags, %w(css1 css2 css3 css4 css5 css5 css5 css5 css5 css5 css5 css5 css5 css5 css5 css5 css5 css5 css5 css5 css5)) do |tag, css_class| 
        = link_to tag.name, '/tags/'+tag.name, {'class' => css_class}
    %a.show-all{:href=>"/all/tags"} כל התגיות באתר
  #authors-box.home-box
    %h2 מחברים
    .tags-box
      - tag_cloud(@authors, %w(css1 css2 css3 css4 css5)) do |tag, css_class| 
        = link_to tag.name, '/tags/'+tag.name, {'class' => css_class}
    %a.show-all{:href=>"/all/author"} כל הכותבים באתר

- content_for :special_js do
  :javascript

    $('a[rel]').each(function() {
      
      $(this).qtip(
        {
          content: {
            text: '<img class="throbber" src="/imgs/ajaxloader.gif" alt="טוען..." />',
            ajax: {
               url: '/texts/'+$(this).attr('rel')+"/snippet"
            }
          },
          position: {
            at: 'bottom left',
            my: 'top right',
          },
        }
      );
    });
