%p#notice= notice

%span.breadcrumb
  = "הטקסטים שלי"
  %hr
  %br
- if @texts.length == 0
  %h2
    = "הי, נכון לעכשו לא שלחתם לאתר שום קובץ. לשליחה "
    = link_to "לחצו כאן!", "/texts/new"
  

- @texts.each do |text|
  .text-item{:rel => "#{text.id}"}
    %h3= link_to text.name, text
    - if text.images.count != 1
      %p #{text.images.count} קבצים מצורפים
    - else
      %p קובץ אחד מצורף

    - if !(text.author.empty?)
      - text.author.each do |author|
        %span
          %a.tag.author_tag(href='/list?id=#{author.name}')= author.name

    - if !(text.tags.empty?)
      - text.tags.each do |tag|
        %span
          %a.tag(href='/list?id=#{tag.name}')= tag.name