%p#notice= notice

%span.breadcrumb
  = "חיפוש >"
  = @query
  %hr
  %br

- @texts.each do |text|
  .text-item{:rel => "#{text.id}"}
    %h3= link_to text.name, text
    - if text.images.count != 1
      %p #{text.images.count} קבצים מצורפים
    - else
      %p קובץ אחד מצורף

    - if !(text.author.empty?)
      - text.author.each do |author|
        %span
          %a.tag.author_tag(href='/list?id=#{author.name}')= author.name

    - if !(text.tags.empty?)
      - text.tags.each do |tag|
        %span
          %a.tag(href='/list?id=#{tag.name}')= tag.name

- content_for :special_js do
  :javascript 
    $('div[rel]').each(function() {
      
      $(this).qtip(
        {
          content: {
            text: '<img class="throbber" src="/imgs/ajaxloader.gif" alt="טוען..." />',
            ajax: {
               url: '/texts/'+$(this).attr('rel')+"/snippet"
            }
          },
          position: {
            at: 'bottom middle',
            my: 'top middle',
          },
        }
      );
    });