%span(style="font-weight: bold;")
  = "טקסטים >"
  - @text.tags_on(:author).each do |author|
    = author.name
  = '>'
%h1(style="margin: 0;")= @text.name
%span(style="float: left;")= "(גירסה #{@text.versions.count+1})"
%hr(style='width: 100%; clear: both;')
.breadcrumb
  = "תגיות: "
  - @text.tags.each do |tag|
    %a.tag(href='/tags/#{tag.name}')= tag.name
.breadcrumb
  %hr


.admin-box(style="float: left;")
  %span.edit-btn= link_to "ערוך את הקטע הזה", edit_text_path(@text)
  - if current_user.admin?
    %span.delete-btn= link_to 'מחיקה', @text, :confirm => 'וואלה אתם בטוחים?', :method => :delete

:textile
  #{@text.description}

%hr(style="border: 1px solid black")
- @text.images.each do |image|
  #file-box
    = image_tag("/images/extensions/"+image.photo_file_name.split('.')[-1].downcase+".png")
    %h3= image.photo_file_name.split('.')[0]
    %p(style="margin: .5em;")= hebrew_file_type(image.photo_file_name.split('.')[-1])+" ("+image.photo_file_name.split('.')[-1].downcase+") במשקל "+ number_to_human_size(image.photo_file_size)
    - if (['doc', 'docx', 'ppt', 'pptx', 'pdf', 'tif', 'tiff'].include? image.photo_file_name.split('.')[-1])
      = link_to("תצוגה מקדימה", "http://docs.google.com/viewer?url=http://library.drorisrael.org.il"+image.photo.url+"&embedded=true", html_options = {:rel => 'shadowbox;width=900'})
    = link_to "הורדה", image.photo.url

- content_for :sidebar do
  %br
  %br
  %h4= "מזכיר לי את..."
  %ul
    - @text.find_related_tags.slice(0,5).each do |related|
      %li= link_to(related.name, "/texts/"+related.id.to_s)

