%span(style="font-weight: bold;")
  != "טקסטים &lArr;"
  - if @text.tags_on(:author).count > 0
    = @text.tags_on(:author).map{|author| author.name}.join(", ")
    != ' &lArr;'
%h1(style="margin: 0;")= @text.name
- if @text.user
  %span(style="float: left; margin-left: 1em;")= "(#{@text.user.fullname}, #{@text.user.phoneext}-#{@text.user.phone})"
%hr(style='margin: 0; ')
.breadcrumb
  = "תגיות: "
  - @text.tags.each do |tag|
    %a.tag(href='/tags/#{tag.name}')= tag.name
.breadcrumb
  %hr


.admin-box(style="float: left;")
  %span.btn.edit-btn= link_to "עריכת פרטי הקטע הזה", edit_text_path(@text)
  %span.btn.add-files-btn= link_to "הוספת קבצים לקטע", '#', :onclick => "$('#add-files').slideToggle('slow'); return false;"
  %span.btn.add-comment-btn= link_to "הוספת תגובה לקטע", '#add-comment'
  - if current_user.admin?
    %span.delete-btn= link_to 'מחיקה', @text, :confirm => 'וואלה אתם בטוחים?', :method => :delete

#add-files
  %hr
  %h3 הוספת קבצים לקטע זה
  #uploader אין תמיכה בג'אווה סקריפט
.text-details
  - if !(@text.author.empty?)
    .detail
      %dt יוצר:
      - @text.author.each do |tag|
        %dd
          %a.tag(href='/tags/#{tag.name}')= tag.name
  - if !(@text.year.empty?)
    .detail
      %dt שנה:
      - @text.year.each do |tag|
        %dd
          %a.tag(href='/tags/#{tag.name}')= tag.name
  - if !(@text.sources.empty?)
    .detail
      %dt מקור:
      - @text.sources.each do |tag|
        %dd
          %a.tag(href='/tags/#{tag.name}')= tag.name
  - if !(@text.age.empty?)
    .detail
      %dt הגיל המודרך:
      - @text.age.each do |tag|
        %dd
          %a.tag(href='/tags/#{tag.name}')= tag.name
  - if !(@text.kind.empty?)
    .detail
      %dt מקור:
      - @text.kind.each do |tag|
        %dd
          %a.tag(href='/tags/#{tag.name}')= tag.name
= simple_format(@text.description)
  

%hr(style="border: 1px solid black")
#files-area-wrapper
  #files-area
    - @text.images.ordered.each do |image|
      .file-box{:style => "opacity: #{if image.rating_average_quality*25/100 > 0 then image.rating_average_quality*25/100 end};"}
        .thumb
          - if !(image.photo.content_type =~ /^image/).nil? or (image.photo.content_type.ends_with? "pdf")
            = image_tag image.photo.url(:thumb), :style => "border: 1px solid #d1d1d1"
          - else 
            = image_tag("/imgs/extensions/"+image.photo_file_name.split('.')[-1].downcase+".png")
        .file-box-content
          %h3{:title => image.photo_file_name}= image.photo_file_name.split('.')[0]
          %p(style="margin: .5em;")= hebrew_file_type(image.photo_file_name.split('.')[-1])+" ("+image.photo_file_name.split('.')[-1].downcase+") במשקל "+ number_to_human_size(image.photo_file_size)
          %span דירוג איכות:
          = ratings_for image, :dimension => :quality
          - if (['doc', 'docx', 'ppt', 'pptx', 'pdf', 'tif', 'tiff'].include? image.photo_file_name.split('.')[-1])
            = link_to("תצוגה", "http://docs.google.com/viewer?url=http://library.drorisrael.org.il"+image.photo.url+"&embedded=true", html_options = {:rel => 'shadowbox;width=900', :class => "btn" })
          = link_to "הורדה", image.photo.url, :class => "btn"
          = link_to "פרטים", '#', :onclick => "$(this).next().slideToggle('slow'); return false;", :class => "btn"

          %div{:style => "display: none;", :class => "file-extra-info"}
            %strong ציון איכות ממוצע:
            = image.rating_average_quality
            %br
            %strong מספר מדרגים:
            = image.raters(:quality).count
            %br
            %strong תאריך העלאה לאתר:
            = image.created_at.strftime("%d/%m/%y")
            - if image.user
              %br
                %strong משתמש:
                = image.user.firstname+" "+image.user.lastname
            - if true
              %br
                %strong הוראות הדפסה:
                = link_to "[ערוך]", "#", :onclick => "$(this).parent().parent().find('.image-edit-guidelines').dialog({title: '#{image.photo_file_name}'}); return false;"
                = simple_format image.guidelines
                .image-edit-guidelines{:id => "image-#{image.id}-guidelines", :style => "display: none;"}
                  %h3 עריכת הוראות הדפסה
                  %form{:action => "/images/#{image.id}/guidelines", :method => "post"}
                    %textarea{:name => "guidelines", :style => "width: 260px;"}
                      = image.guidelines
                    %input{:name => "authenticity_token", :type => "hidden", :value => form_authenticity_token}
                    %input{:type => "submit", :value => "עדכן את הוראות ההדפסה"}
    = ajaxful_rating_style
    = ajaxful_rating_script

#comments-area-wrapper
  #comments-area
    %hr(style="border: 1px solid black")
    - @text.comments.each do |comment|
      .text-comment{:class => cycle('odd', 'even') }
        .user-avatar
          = comment.user.firstname
          %br
          = comment.user.lastname
          %br
          %small(style = "color: grey;")= comment.user.phoneext+ "-" + comment.user.phone
        %h5= comment.title
        = simple_format(comment.comment)
        .text-comment-info
          = "פורסם לפני "+ time_ago_in_words(comment.created_at)
    %br
    %h3 בטוח יש לך משהו להגיד!
    %a(name="add-comment")
    .text-comment
      .user-avatar
        = current_user.firstname
        %br
        = current_user.lastname
        %br
        %small(style = "color: grey;")= current_user.phoneext+ "-" + current_user.phone
      %form{:action => "/texts/#{@text.id}/comment", :method => "post"}
        %input{:type => "text", :name => "title", :placeholder => "כותרת התגובה" }
        %br
        %textarea{:name => "comment", :placeholder => "תוכן התגובה"}
        %br
        %input{:name => "authenticity_token", :type => "hidden", :value => form_authenticity_token}
        %input{:type => "submit", :value => "תן לצעקה לצאת!"}

      

- content_for :sidebar do
  %br
  - if @text.find_related_tags.length > 0
    #related
      .title
        %h4= "מזכיר לי את..."
      %ul
        - @text.find_related_tags.slice(0,5).each do |related|
          %li= link_to(related.name, "/texts/"+related.id.to_s, :rel => related.id.to_s)


- content_for :special_js do
  - if url_for(:back).ends_with? "texts/new"
    :javascript
      $('#add-files').show();
  
  = ajaxful_rating_style
  = ajaxful_rating_script 

  :javascript
    Shadowbox.init();
    
    plupload.addI18n({
            'Select files' : 'בחר קבצים',
            'Add files to the upload queue and click the start button.' : 'הוסף קבצים והתחל את ההעלאה',
            'Filename' : 'שם קובץ',
            'Status' : 'מצב',
            'Size' : 'גודל',
            'Add Files' : 'הוסף קבצים',
            'Start Upload':'התחל שליחת קבצים',
            'Stop current upload' : 'עצור את תהליך השליחה',
            'Start uploading queue' : 'התחל את השליחה',
            'Drag files here.' : 'גרור קבצים לכאן',
            '%d files queued': '%d קבצים בתור להעלאה',
            'Stop Upload': 'עצור שליחה',

    });
    // Convert divs to queue widgets when the DOM is ready
    $(function() {
      //RoR - capture authenticity token  
      var atoken = $("input[name=authenticity_token]").val();  
      $("#uploader").plupload({
        // General settings
        runtimes : 'html5,gears,silverlight,flash',
        url : '/images',
        unique_names : true,
        resize: false,
        max_file_size : '1000mb',
        multipart: true,
        multipart_params : {"image[text_id]" : "#{@text.id}", authenticity_token : atoken},  
        flash_swf_url : '/javascripts/plupload/js/plupload.flash.swf',
        silverlight_xap_url : '/javascripts/plupload/js/plupload.silverlight.xap',
        init : {
            UploadComplete: function(up) {
                $('#files-area-wrapper').load('/texts/#{@text.id} #files-area');
                $('#add-files').hide();
            }
        }
      });
    $('.plupload_header').hide()
    });

    $('.file-box').hover(function(){ 
      $('.file-extra-info').hide();
    });


    $('#related a').each(function() {
      
      $(this).qtip(
        {
          content: {
            text: '<img class="throbber" src="/imgs/ajaxloader.gif" alt="טוען..." />',
            ajax: {
               url: '/texts/'+$(this).attr('rel')+"/snippet"
            }
          },
          position: {
            at: 'middle left',
            my: 'middle right',
          },
        }
      );
    });
