%p#notice= notice

%span.breadcrumb
  = "טקסטים >"
  - @text.tags_on(:author).each do |author|
    = author.name
    %hr
%h1= @text.name
%span(style="float: left;")= "(גירסה #{@text.versions.count+1})"
%hr
  .breadcrumb
    = "תגיות: "
    - @text.tags.each do |tag|
      %a.tag(href='/tags/#{tag.name}')= tag.name
.breadcrumb
  %hr
:textile
  #{@text.content}

- @text.tags.each do |tag|
  %span= tag

= link_to 'Edit', edit_text_path(@text)
|
\#{link_to 'Back', texts_path}
