%p#notice= notice
%span(style="float: left;") סה"כ #{@count} קטעים
= will_paginate @posts, :previous_label => "&#8594; הקודם", :next_label => "הבא &#8592;"

%span.breadcrumb
  = "תגיות >"
  - if @tag.length > 1
    - @tag.each do |t|
      =t
      %a(href="#{request.url}&without=#{t}" title='הסר תגית "#{t}" מהסינון') (X)
  - else
    =@tag
  %hr
%span(style="float: right; font-size: 140%;") צמצם סינון לפי: 
.tags-filter
  %span תגיות
  .tags.tags-box
    - tag_cloud(@tags, %w(css1 css2 css3 css4 css5 css5 css5 css5 css5 css5 css5 css5 css5 css5 css5 css5 css5 css5 css5 css5 css5)) do |tag, css_class|
      - unless @tag.include? tag.name
        = link_to tag.name, '/list?id[]='+tag.name+'&id[]='+@tag.join('&id[]='), {'class' => css_class}
.tags-filter
  %span מחבר
  .tags.tags-box
    - tag_cloud(@tags_author, %w(css1 css2 css3 css4 css5 css5 css5 css5 css5 css5 css5 css5 css5 css5 css5 css5 css5 css5 css5 css5 css5)) do |tag, css_class|
      - unless @tag.include? tag.name
        = link_to tag.name, '/list?id[]='+tag.name+'&id[]='+@tag.join('&id[]='), {'class' => css_class}
.tags-filter
  %span סוג
  .tags.tags-box
    - tag_cloud(@tags_kind, %w(css1 css2 css3 css4 css5 css5 css5 css5 css5 css5 css5 css5 css5 css5 css5 css5 css5 css5 css5 css5 css5)) do |tag, css_class| 
      - unless @tag.include? tag.name
        = link_to tag.name, '/list?id[]='+tag.name+'&id[]='+@tag.join('&id[]='), {'class' => css_class}
.tags-filter
  %span שנה
  .tags.tags-box
    - tag_cloud(@tags_year, %w(css1 css2 css3 css4 css5 css5 css5 css5 css5 css5 css5 css5 css5 css5 css5 css5 css5 css5 css5 css5 css5)) do |tag, css_class| 
      - unless @tag.include? tag.name
        = link_to tag.name, '/list?id[]='+tag.name+'&id[]='+@tag.join('&id[]='), {'class' => css_class}
%hr(style="border-top: 1px solid #3E3D3E;")
- @texts.each do |text|
  .text-item{:rel => "#{text.id}"}
    %h3= link_to text.name, text
    - if text.images.count != 1
      %p #{text.images.count} קבצים מצורפים
    - else
      %p קובץ אחד מצורף

    - if !(text.author.empty?)
      - text.author.each do |author|
        %span
          %a.tag.author_tag(href='/list?id=#{author.name}')= author.name

    - if !(text.tags.empty?)
      - text.tags.each do |tag|
        %span
          %a.tag(href='/list?id=#{tag.name}')= tag.name

= will_paginate @posts, :previous_label => "&#8594; הקודם", :next_label => "הבא &#8592;"

- content_for :special_js do
  :javascript 
    $('div[rel]').each(function() {
      
      $(this).qtip(
        {
          content: {
            text: '<img class="throbber" src="/imgs/ajaxloader.gif" alt="טוען..." />',
            ajax: {
               url: '/texts/'+$(this).attr('rel')+"/snippet"
            }
          },
          position: {
            at: 'bottom middle',
            my: 'top middle',
          },
        }
      );
    });