%h1 Listing images
%table
  %tr
    %th Text
    %th User
    %th Description
    %th
    %th
    %th
  - @images.each do |image|
    %tr
      %td= image.text_id
      %td= image.user_id
      %td= image.description
      %td= link_to 'Show', image
      %td= link_to 'Edit', edit_image_path(image)
      %td= link_to 'Destroy', image, :confirm => 'Are you sure?', :method => :delete
%br/
= link_to 'New Image', new_image_path
