%p#notice= notice
%p
  %b מספר הקטע באתר:
  = @image.text_id
%p
  %b משתמש:
  = @image.user_id
%p
  %b תאור הקובץ:
  = @image.description
  = link_to "הורדה", @image.photo.url
= image_tag @image.photo.url
= image_tag @image.photo.url(:medium)
= image_tag @image.photo.url(:thumb)
= link_to 'Edit', edit_image_path(@image)
|
\#{link_to 'Back', images_path}
