%small.copyright
  #{App.title} | #{t('footer.asam')} #{t('footer.version')} 2.9.0 | #{link_to t("footer.free_software"), "https://github.com/bjesus/asam"} #{t('footer.used_by')} #{link_to App.organization.name, App.organization.url} | #{t('footer.recommended_browser')} #{link_to t('footer.this'), "http://getfirefox.com"} #{t('footer.or')} #{link_to t('footer.that'), "http://google.com/chrome"}