-# Grab Google CDN's jQuery
-# Looks for google_api_key first in ENV['GOOGLE_API_KEY'] then in config/google.yml
- if !google_api_key.blank?
  = javascript_include_tag "//www.google.com/jsapi?key=#{google_api_key}"
  :javascript
    google.load("jquery", "1.6.4");
    google.load("jqueryui", "1.8.16");
- else
  = javascript_include_tag "//ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"
  = javascript_include_tag "//ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"

-# fall back to local jQuery if necessary
:javascript
  !window.jQuery && document.write(unescape('%3Cscript src="/javascripts/jquery-1.4.4.min.js"%3E%3C/script%3E'))
  
= javascript_include_tag '/javascripts/rails.js', '/javascripts/plugins.js', 'application'

/[if lt IE 7 ]
  :javascript
    $.getScript("/javascripts/dd_belatedpng.js",function(){ DD_belatedPNG.fix('img, .png_bg'); });
    
-#  Append your own using content_for :javascripts
= yield :javascripts

-# asynchronous google analytics: mathiasbynens.be/notes/async-analytics-snippet
-# Looks for google_account_id first in ENV['GOOGLE_ACCOUNT_ID'] then in config/google.yml
- if !google_account_id.blank?
  :javascript
    var _gaq = [['_setAccount', '#{google_account_id}'], ['_trackPageview']];
    (function(d, t) {
     var g = d.createElement(t),
         s = d.getElementsByTagName(t)[0];
     g.async = true;
     g.src = ('https:' == location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
     s.parentNode.insertBefore(g, s);
    })(document, 'script');

= stylesheet_link_tag '/javascripts/plupload/js/jquery.ui.plupload/css/jquery.ui.plupload.css', :media => 'screen, projection'
%script{:type => "text/javascript",
  :src  => "/javascripts/jquery.qtip.min.js"}
%script{:type => "text/javascript",
  :src  => "/javascripts/plupload/js/plupload.full.js"}
%script{:type => "text/javascript",
  :src  => "/javascripts/plupload/js/jquery.ui.plupload/jquery.ui.plupload.js"}
%script{:type => "text/javascript",
        :src  => "/javascripts/textlist/GrowingInput.js"}
%script{:type => "text/javascript",
        :src  => "/javascripts/textlist/TextboxList.js"}
%script{:type => "text/javascript",
        :src  => "/javascripts/textlist/TextboxList.Autocomplete.js"}
%script{:type => "text/javascript",
        :src  => "/javascripts/shadowbox/shadowbox.js"}
%script{:type => "text/javascript",
        :src  => "/javascripts/jquery.stickyPanel.js"}


:javascript
  Shadowbox.init();

  $('#sidebar-stick').stickyPanel();

= yield :special_js
