-# CSS : implied media="all"
= stylesheet_link_tag 'style', :media => 'all'

-# Uncomment if you are specifically targeting less enabled mobile browsers
-#= stylesheet_link_tag 'handheld', :media => 'handheld'

-# Append your own using content_for :stylesheets
= yield :stylesheets
= stylesheet_link_tag 'http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/themes/blitzer/jquery-ui.css', :media => 'screen, projection'
= stylesheet_link_tag 'compiled/print.css', :media => 'print'
/[if lt IE 8]
  = stylesheet_link_tag 'compiled/ie.css', :media => 'screen, projection'
= stylesheet_link_tag 'compiled/style.css', :media => 'screen, projection'
= stylesheet_link_tag 'blueprint.css', :media => 'screen, projection'
= stylesheet_link_tag 'compiled/mystyle.css', :media => 'screen, projection'
= stylesheet_link_tag '/javascripts/textlist/TextboxList.css', :media => 'screen, projection'
= stylesheet_link_tag '/javascripts/textlist/TextboxList.Autocomplete.css', :media => 'screen, projection'
= stylesheet_link_tag '/javascripts/shadowbox/shadowbox.css', :media => 'screen, projection'


