!!! 5
-# http://paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither
-ie_html :lang => 'he', :class => 'no-js', :dir => 'rtl' do
  = render :partial => 'layouts/head'
  %body{ :class => "#{controller.controller_name}" }
    #container
      %header#header
        = render :partial => 'layouts/header'
      #main
        #root.container
          #content
            = render :partial => 'layouts/flashes'
            = yield
          #holdside
            #sidebar.last
              = link_to image_tag("/images/logo.png"), '/'
              .count
                ="עד כה ישנם"
                = link_to "#{how_many_texts} טקסטים", "/texts"
                = "של"
                = link_to "#{how_many_authors} כותבים", "/all/author"
              #searchbox
                %form{:action=>"/search", :method => "post"}
                  %input{:name => 'q', :type => 'text', :placeholder => "חפש לי באתר"}
                  %input{:name => "authenticity_token", :type => "hidden", :value => form_authenticity_token}

              - if user_signed_in?
                #hello{:style=> "text-align: center;"}
                  %span= "שלום "+current_user.firstname+"! | "
                  %span= link_to('ניתוק', destroy_user_session_path)
                  %span= " | "
                  %span= link_to "הוספת קטע", new_text_path
                  %br
                  %span= link_to "קישורים", "/links"
              = yield :sidebar
      %footer#footer
        = render :partial => 'layouts/footer'
    -# Javascript at the bottom for fast page loading
    = render :partial => 'layouts/javascripts'
